:root {
  --blue: #00bbff;
  --purple: #e943ff;
  --dark: #282828;
  --light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif ;
}

body {
  background: var(--light);
}